* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #f3f3f3;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.note {
  background: #fff;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note:hover{
  box-shadow: 0 2px 5px #ccc;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .buttons {
  position: static;
  float: right;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 10px;
  color: black;
  background-color: none;
  border: none;
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.note .buttons:hover{
  background-color: #ccc;
  border-radius: 16px;
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
/* box for title text */
[data-title]:after {
  content: attr(data-title);
  /* position for title view box */
  bottom: -1.6em;  	
  left: 100%;
  z-index: 99999;
  visibility: hidden;
  /* optional */
  white-space: nowrap;
  /* stilization */
  width: 120px;
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
}
[data-title] {
  position: relative;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 10px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
header .navbar ul{
  list-style: none;
  text-align: left;
  display: flex;
}
header .navbar ul li {
  margin-left:100px;
}
header .navbar ul li a{
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}
header .navbar ul li:hover{
  opacity: 0.2;
}
header .current{
  border-bottom: 4px solid white; 
}

.zM6fo-Ne3sFf {
  color: #202124;
  cursor: default;
  display: flex;
  font-size: 17px;
  font-style: italic;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 8px;
}

.Q0hgme-fmcmS-LgbsSe.fmcmS-LgbsSe-v3pZbf:not(.VIpgJd-LgbsSe-OWB6Me) {
  color: #1a73e8;
}

.zM6fo-Ne3sFf-xFQqWe-LgbsSe {
  bottom: 0;
  font-style: normal;
  margin-left: 16px;
  position: relative;
}
.Q0hgme-fmcmS-LgbsSe {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 24px;
  border-radius: 4px;
}
.Q0hgme-LgbsSe {
  cursor: pointer;
  display: inline-block;
  outline: none!important;
}

.neVct-Ne3sFf-fmcmS {
  color: #80868b;
  cursor: default;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  text-align: center;
}
.neVct-Ne3sFf-Bz112c {
  background-size: 120px 120px;
  height: 120px;
  margin: 20px;
  opacity: .1;
  width: 120px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
